<a href="/curso/" class="btn btn-primary dist-baixo">Voltar</a>
<div class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header card-cursos">
        <div>{{curso.nome}}</div>
        <div>
            <a href="/curso/update/{{curso.id}}"><i class="fa-solid fa-pen"></i></a>
            <a href="http://" data-bs-toggle="modal" data-bs-target="#modal-delecao" >
                <i class="fa-regular fa-trash-can"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div>
            <b>Sigla: </b> {{curso.sigla}}
        </div>
        <div>
            <b>Nome: </b> {{curso.nome}}
        </div>
        <div>
            <b>Descrição: </b> {{curso.descricao}}
        </div>
        <div>
            <b>Área: </b> {{curso.Area.nome}}
            <!--Acessando o dado de outra tabela por meio da chave estrangeira--->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-delecao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleção de Curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que quer apagar o curso de <b>{{curso.nome}}</b>? Essa operação não pode ser desfeita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="botao-delecao" type="button" href="/curso/remove/{{curso.id}}" class="btn btn-primary">Sim, quero apagar</button>
      </div>
    </div>
  </div>
</div>

<script>
    const botaoDelecao = document.getElementById("botao-delecao");
    botaoDelecao.onclick = function() {
        apagarCurso({{curso.id}});
    }
</script>