<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header card-cursos">
                <h1 id="tables">Cursos </h1>
                <a href="/curso/create" class="btn btn-primary">+</a>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="campo-id">Sigla</th>
                            <th scope="col">Nome</th>
                            <th scope="col" class="campo-opcoes">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cursos}}
                        <tr>
                            <td>{{sigla}}</td>
                            <td>{{nome}}</td>
                            <td class="options card-cursos2">
                                <a href="/curso/{{id}}"><i class="fa-regular fa-eye"></i></a>
                                <a href="/curso/update/{{id}}"><i class="fa-solid fa-pen"></i></a>
                                <a href="http://" data-bs-toggle="modal" data-bs-target="#modal-curso-{{id}}">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{{#each cursos}}<!--Gambiarra pois cria um modal para cada-->
<!-- Modal -->
<div class="modal fade" id="modal-curso-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deleção de Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza que quer apagar o curso de <b>{{nome}}</b>? Essa operação não pode ser desfeita.
            </div><!--Coloca so nome pq esta dentro do each ja-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="delecao-curso-{{id}}" type="button" href="/curso/remove/{{curso.id}}" class="btn btn-primary">Sim,
                    quero apagar</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#each cursos}}
<script>
    const delecaoCurso{{id}} = document.getElementById("delecao-curso-{{id}}");
    delecaoCurso{{id}}.onclick = function () {
        apagarCurso({{ id }});
    }
</script>
{{/each}}
